{% extends "base.html" %}
{% load filters django_bootstrap5 %}

{% block content %}
<div>
<h1>Errata</h1>

{% if form.errors %}
    <div class="alert alert-danger mt-3">
        <strong>Please correct the errors below:</strong>
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<form id="errata-search-form" method="get">
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% include "errata/list_detail_table.html" %}
{% if search_ran %}<a href="{% url 'errata_new_entry_instructions' %}" class="btn btn-primary">Report New Erratum</a>{% endif %}
</div>
{% endblock %}