{% extends "base.html" %}

{% block title %}Wobble Up{% endblock %}

{% block content %}
<div class="container">
    <h1>Wobble Up</h1>
    <p>You are {% if user.is_authenticated %}
        <table><tbody>
        <tr><td>Username</td><td>"{{request.user.username}}"</td></tr>
        <tr><td>Name</td><td>"{{request.user.name}}"</td></tr>
        <tr><td>Email</td><td>"{{request.user.email}}"</td></tr>
        <tr><td>datatracker_subject_id</td><td>{{ request.user.datatracker_subject_id }}</td></tr>
        <tr><td>is_staff</td><td>{{ request.user.is_staff }}</td></tr>
        <tr><td>is_superuser</td><td>{{ request.user.is_superuser }}</td></tr>
        <tr><td>roles</td><td>{{ request.user.roles }}</td></tr>
        <tr><td>avatar</td><td><img src="{{ request.user.avatar }}" alt="avatar" width="50"></td></tr>
        <tr><td>avatar url</td><td><{{ request.user.avatar }}</td></tr>
        </tbody></table>
    {% else %}not authenticated{% endif %}</p>
    {% if user.is_authenticated %}
        <form action="{% url 'oidc_logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="logout">
        </form>
    {% else %}
    <a href="{% url 'oidc_authentication_init' %}">Login</a>
    {% endif %}
</div>
{% endblock %}