apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: backend
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
        # -----------------------------------------------------
        # Backend Container
        # -----------------------------------------------------
        - name: backend
          image: "ghcr.io/ietf-tools/errata-backend:$APP_IMAGE_TAG"
          imagePullPolicy: Always
          volumeMounts:
            - name: backend-tmp
              mountPath: /tmp
          env:
            - name: "CONTAINER_ROLE"
              value: "backend"
            # ensures the pod gets recreated on every deploy:
            - name: "DEPLOY_UID"
              value: "$DEPLOY_UID"
          envFrom:
            - secretRef:
                name: errata-secrets-env
          startupProbe:
            httpGet:
              port: 8000
              path: /health/
              httpHeaders:
                - name: Host
                  value: localhost
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 30
            timeoutSeconds: 3
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
            runAsUser: 1000
            runAsGroup: 1000
      initContainers:
        - name: migration
          image: "ghcr.io/ietf-tools/errata-backend:$APP_IMAGE_TAG"
          imagePullPolicy: Always
          env:
            - name: "CONTAINER_ROLE"
              value: "migrations"
          envFrom:
            - secretRef:
                name: errata-secrets-env
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
            runAsUser: 1000
            runAsGroup: 1000
          volumeMounts:
            - name: backend-tmp
              mountPath: /tmp
      volumes:
        - name: backend-tmp
          emptyDir:
            sizeLimit: "500Mi"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 60
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: backend
