apiVersion: apps/v1
kind: Deployment
metadata:
  name: beat
  labels:
    deleteBeforeUpgrade: yes
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: beat
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: beat
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
        # -----------------------------------------------------
        # Beat Container
        # -----------------------------------------------------
        - name: beat
          image: "ghcr.io/ietf-tools/errata-backend:$APP_IMAGE_TAG"
          imagePullPolicy: Always
          volumeMounts:
            - name: beat-tmp
              mountPath: /tmp
          env:
            - name: "CONTAINER_ROLE"
              value: "beat"
            # ensures the pod gets recreated on every deploy
            - name: "DEPLOY_UID"
              value: "$DEPLOY_UID"
          envFrom:
            - secretRef:
                name: errata-secrets-env
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
            runAsUser: 1000
            runAsGroup: 1000
      volumes:
        - name: beat-tmp
          emptyDir:
            sizeLimit: "2Gi"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      terminationGracePeriodSeconds: 600
